:root {

  --slidev-theme-primary: #FF584F;
  --slidev-theme-color: #FF584F;
  --slidev-theme-accent-muted: #999;
  --slidev-theme-accent-dark: #333;
  --slidev-theme-background: #fff;

  --slidev-theme-default-header-color: var(--slidev-theme-primary);

  --slidev-theme-cover-background-color: var(--slidev-theme-background);
  --slidev-theme-cover-header-color: var(--slidev-theme-primary);
  --slidev-theme-cover-sub-header-color: var(--slidev-theme-accent-muted);
  
  --slidev-theme-cover-alternative-background-color: var(--slidev-theme-primary);
  --slidev-theme-cover-alternative-header-color: var(--slidev-theme-background);
  --slidev-theme-cover-alternative-sub-header-color: var(--slidev-theme-background);


  --slidev-theme-immersive-header-color: var(--slidev-theme-background);
  --slidev-theme-immersive-header-border-color: var(--slidev-theme-primary);

  --slidev-theme-immersive-alternative-header-color: var(--slidev-theme-primary);
  --slidev-theme-immersive-alternative-header-border-color: var( --slidev-theme-background);

  --slidev-theme-profile-sub-header-color: var(--slidev-theme-primary);


  --slidev-theme-section-header-color: var(--slidev-theme-primary);
  --slidev-theme-section-kind-color: var(--slidev-theme-accent-muted);

  --slidev-theme-demo-header-color: var(--slidev-theme-primary);
  --slidev-theme-demo-kind-color: var(--slidev-theme-accent-muted);

  --slidev-theme-closing-background-color: var(--slidev-theme-background);
  --slidev-theme-closing-header-color: var(--slidev-theme-primary);
  --slidev-theme-closing-footer-color: var(--slidev-theme-accent-muted);
}

.accent {
  color: var(--slidev-theme-primary);
}

.accent-background {
  background: var(--slidev-theme-primary);
}

header {
  display: flex;
  flex-direction: row-reverse;
  height: 22px;
  background-color: var(--slidev-theme-primary);
  font-size: 10px;
  @apply text-white px-3 items-center v-mid text-xs
}

#slide-content>div.default {
  @apply mx-8 w-auto;
}

.slidev-layout.default h1 {
  @apply text-4xl leading-10;
  color: var(--slidev-theme-default-header-color);
}

.slidev-layout.default ul,
.slidev-layout.default li {
  @apply text-2xl mb-4 leading-8;
}
